@model OrderDeliveryApp.Models.Order

@{
    ViewData["Title"] = "Детали заказа";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Детали заказа</h2>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Номер заказа</dt>
                <dd class="col-sm-9">@Model.Id</dd>
                
                <dt class="col-sm-3">Город отправителя</dt>
                <dd class="col-sm-9">@Model.SenderCity</dd>
                
                <dt class="col-sm-3">Адрес отправителя</dt>
                <dd class="col-sm-9">@Model.SenderAddress</dd>
                
                <dt class="col-sm-3">Город получателя</dt>
                <dd class="col-sm-9">@Model.ReceiverCity</dd>
                
                <dt class="col-sm-3">Адрес получателя</dt>
                <dd class="col-sm-9">@Model.ReceiverAddress</dd>
                
                <dt class="col-sm-3">Вес груза (кг)</dt>
                <dd class="col-sm-9">@Model.Weight</dd>
                
                <dt class="col-sm-3">Дата забора</dt>
                <dd class="col-sm-9">@Model.PickupDate.ToShortDateString()</dd>
            </dl>
        </div>
    </div>
    
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Вернуться к списку заказов</a>
    </div>
</div>